.info_table {
  width: 325px;
  border: 2px solid #9b9b9b;
  white-space: nowrap;
}

#log_table {
  height: 160px;
  position: absolute;
  top: 154px;
  right: 8px;
}

#pattern_table {
  height: 205px;
  position: absolute;
  top: 334px;
  right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  position: relative;
  width: 325px;
  height: 20px;
  text-align: center;
  padding-top: 5px;
  font-family: inherit;
  font-weight: bold;
  color: #5e5d5d;
  padding-bottom: 5px;
  background-color: #c5c5c5;
  border-bottom: 1px solid #9b9b9b;
}

.log {
  height: 130px;
  width: 325px;
  position: relative;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.info_log_cell {
  position: relative;
  width: 325px;
  height: 30px;
  flex-shrink: 0;
  border-top: 1px solid #9b9b9b;
  font-family: inherit;
  font-weight: lighter;
  color: #5e5d5d;
  padding-left: 10px;
  padding-top: 15px;
}

.info_pattern_cell {
  position: relative;
  width: 325px;
  height: 40px;
  border-bottom: 1px solid #9b9b9b;
}

.info_label {
  font-family: inherit;
  font-weight: lighter;
  color: #5e5d5d;
  top: 10px;
  padding-left: 12px;
  position: relative;
  display: inline-block;
}

.info_square {
  alignment: center;
  width: 15px;
  height: 15px;
  top: 9px;
  left: 5px;
  border: 2px solid #9b9b9b;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.stack_like {
  height: 200px;
  width: 60px;
  position: absolute;
  top: 355px;
  left: 30px;
  border: 2px solid #9b9b9b;
  background-color: rgba(189, 188, 188, 0.3);
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: auto;
  display: flex;
  flex-direction: column-reverse;
}

.stack_like_cell {
  flex-shrink: 0;
  position: relative;
  width: 60px;
  height: 40px;
  border-top: 1px solid #9b9b9b;
  font-family: inherit;
  font-weight: lighter;
  color: #5e5d5d;
  padding-left: 20px;
}
