.text_field {
  position: absolute;
  padding: 15px 0 0;
}

.field {
  font-family: inherit;
  width: 75%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  border-image: linear-gradient(to right, #5e5d5d, #9b9b9b);
  border-image-slice: 1;
  outline: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(150, 150, 150);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.field::placeholder {
  color: transparent;
}

.field:placeholder-shown ~ .label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  font-weight: 550;
  color: #9b9b9b;
  white-space: nowrap;
}

.counter {
  position: absolute;
  display: block;
  alignment: right;
  right: 25%;
  font-size: 0.75rem;
  font-weight: 450;
  color: #9b9b9b;
}

.field:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}


/* reset input */
.field:required, .field:invalid {
  box-shadow: none;
}

#text_input {
  top: 20px;
  left: 60px;
  width: 400px;
}

#pattern_input {
  top: 20px;
  left: 460px;
  width: 300px;
}

#highlighted_pattern_field::selection {
  background-color: rgba(255, 0, 0, 0.3);
  background-size: 200% 100%;
  background-position: 100% 0;
  user-select: none;
}

